/* Styles for min-width 768px */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.col-xs-6 {
  height: 380px;
}

.thumbnail {
  border: none;
  margin: 32px;
}

.thumbnail>img {
  height: 160px;
  box-shadow: 4px 4px 10px #959595;
  margin-left: 0;
  margin-right: 0;
  background-color: #eee;
  max-width: 130px;
}

.thumbnail .caption {
  padding: 9px 0 0 0;
  width: 120px;
}

h3 {
  color: #868686;
  font-weight: 200;
  margin-left: 12px;
}

h4 {
  font-size: 13px;
  margin-bottom: 4px;
  line-height: 1.4;
}

p {
  font-weight: 100;
  color: #868686;
  font-size: .9em;
}

.btn-group>.btn-sm, .btn-sm {
  border-radius: 20px;
}

.btn-info {
  border: 2px solid white;
  color: #fff;
}

.btn-info.blue {
  background-color: rgb(20, 62, 82);
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
}

.dropdown {
  position: absolute;
  margin: 146px 138px 152px 24px;
}

.modal-body {
  text-align: center;
}

.modal-header .dropdown {
  position: relative;
  margin: 0;
  display: inline;
}

.book-item {
  display: inline;
}

p.title {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

div.alertMsg p {
  color: #fff;
}

.badge {
  border-radius: 10px;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #858585;
  background-color: #f0f0f0;
  padding: 8px 9px 6px;
  text-transform: uppercase;
}

.dropdown-menu {
  font-size: 10px;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
  background-color: #30b0d5;
}

.navbar-form {
  width: 95%;
  padding-top: 10px;
}

.navbar-form .form-control {
  border-style: none;
  /*width: 90%;*/
  background-color: #f8f8f8;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 100;
  display: inline;
}

ul.nav.navbar-nav {
  width: 5%;
  margin-top: 16px;
  display: inline-block;
  padding-top: 10px;
}

.navbar-default 
.navbar-collapse, 
.navbar-default 
.navbar-form {
  border: none;
}

.navbar-default {
  border: none;
  height: 70px;
  z-index: 15;
  position: fixed;
  top: 150px;
  width: 100%;
  opacity: 0.9;
}

p.info {
  font-style: oblique;
}

.info-link button {
  font-size: 10px;
  color: #727272;
  padding-left: 0;
}

.info-link {
  color: #727272;
}

.info-link:hover{
  color: #2c2c2c;
}

span.glyphicon.glyphicon-info-sign {
  margin-right: 4px;
}

.alert {
  width: 100%;
  position: fixed;
  z-index: 1060;
  top: 150px;
  border-radius: 0;
  background-color: rgba(0, 62, 84, .95);
  border: none;
  box-shadow: 0 3px 3px #323232;
  color: #fff;
}

.alertMsg Button {
  color: #fff;
  background-color: #003e54;
  width: 80px;
  height: 28px;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.alert-dismissable button.close {
  opacity: 0.9;
}

.alert-dismissable button.close:hover {
  opacity: 1;
  color: #fff;
}

div.scrollable-content {
  position: absolute;
  top: 270px;
}

/* Styles for max-width 767px */

@media screen and (max-width: 767px) {
  .glyphicon.glyphicon-menu-left {
    left: 20px;
  }
  
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }

  .navbar-form {
    display: inline-block;
    width: 90%;
  }

  ul.nav.navbar-nav {
    width: 10%;
    margin-top: 16px;
    display: inline-block;
  }

  .thumbnail {
    margin: 22px;
  }

  .dropdown {
    position: absolute;
    margin: 146px 138px 152px 14px;
  }

  .noImg {
    background-color: #eee;
  }

}

/* Styles for max-width 500px */

@media screen and (max-width: 500px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
  }

  .thumbnail {
    margin: 12px;
  }

  .dropdown {
    position: absolute;
    margin: 146px 138px 152px 4px;
  }

  .navbar-form {
    display: inline-block;
    width: 80%;
  }

  ul.nav.navbar-nav {
    width: 20%;
    margin-top: 16px;
    display: inline-block;
  }

  .navbar-default {
    top: 100px;
  }

  div.scrollable-content {
    top: 220px;
  }

  .alert {
    top: 100px;
  }

}

/* Styles for max-width 400px */

@media screen and (max-width: 400px) {
  .col-xs-6 {
    width: 100%;
  }

  .container{
    width: 300px;
  }

  .thumbnail {
    margin: 52px;
  }

  .dropdown {
    position: absolute;
    margin: 146px 138px 152px 44px;
  }
}